<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.maitian">

    <application
        android:name=".app.MaitianApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/NoActionBarTheme">
        <activity
            android:name=".componts.launcher.LauncherActivity"
            android:screenOrientation="portrait"
            android:theme="@style/LauncherTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="cn.maitian.componts.launcher.LauncherActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".componts.guide.GuideActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="cn.maitian.componts.guide.GuideActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".componts.auth.AuthActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="cn.maitian.componts.auth.AuthActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".componts.main.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="cn.maitian.componts.main.MainActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
